<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Filmes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Surf's up</h1>
  <div align="center">
    <img
      src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/eb/Surfs_up.jpg/200px-Surfs_up.jpg"
      alt=""
    />
    <p>
      <a href="https://www.youtube.com/watch?v=-OJ8gtyVo0c"
        >Surf's up (2007) - trailer</a
      >
    </p>
    <p>
      <iframe
        src="https://www.youtube.com/embed/-OJ8gtyVo0c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=mBVj_LKG2HE"
        >Surf's up (2016) - trailer</a
      >
    </p>
    <p>
      <iframe
        src="https://www.youtube.com/embed/mBVj_LKG2HE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </p>
  </div>
</ion-content>
