<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados Serie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="serie">
    <ion-card-header>
      <img
        *ngIf="serie.poster_path"
        src="https://www.themoviedb.org/t/p/w500/{{serie.poster_path}}"
      />
      <ion-icon *ngIf="!serie.poster_path" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1>{{serie.name}}</h1>
      <p>{{serie.first_air_date | date: 'shortDate'}}</p>
      <ion-chip
        [color]="serie.vote_average < 5 ? 'danger' : ((serie.vote_average < 7)? 'warning': 'success')"
      >
        {{serie.vote_average}}
      </ion-chip>
    </ion-card-content>
    <ion-item lines="none">
      <ion-badge color="light" *ngFor="let idGenero of serie.genre_ids">
        {{generos[idGenero]}}
      </ion-badge>
    </ion-item>
    <ion-item lines="none">
      <h1>Sinopse:</h1>
    </ion-item>
    <ion-item lines="none">
      <p>{{serie.overview}}</p>
    </ion-item>
  </ion-card>
</ion-content>
