<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trabalho
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>Linguagens de Programação</h1>
<p><a href="https://portugol-webstudio.cubos.io/" class="href">Portugol</a></p>
<p><a href="https://www.embarcadero.com/br/free-tools/dev-cpp" class="href">Dev-C++</a></p>
<p><a href="https://www.python.org/" class="href">Python</a></p>
<p><a href="https://www.embarcadero.com/br/free-tools/dev-cpp" class="href">GCC, the GNU Compiler Collection</a></p>
</ion-content>
